.header {
  position: relative;
  padding-top: 0;
  background-color: #1D1D1D;
}
.header__topbar {
  padding: 10px 20px;
  background-color: #FFA800;
}
.header__title {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  font-family: 'Oswald', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header__subtitle {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-family: 'Oswald', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header__hero {
  height: 385px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.header__hero .discount {
  position: absolute;
  left: 0;
  top: 0;
  width: 155px;
  height: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/icon.png) no-repeat 50% 50%;
  background-size: contain;
}
.header__hero .discount span {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Oswald', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.header__price div {
  width: 50%;
  min-width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
  text-align: center;
  position: relative;
}
.header__price div.left {
  background-color: #666563;
}
.header__price div.left span {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  text-decoration: line-through;
  font-family: 'Oswald', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  z-index: 2;
}
.header__price div.left:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  background-color: #666563;
  z-index: 1;
}
.header__price div.right {
  background-color: #FFA800;
}
.header__price div.right span {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Oswald', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  z-index: 2;
}
.header__price div.right:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  background-color: #FFA800;
  z-index: 1;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.header__list li {
  padding: 20px;
  width: 33.3%;
  min-width: 33.3%;
}
.header__list li p {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Oswald', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header__list li img {
  display: block;
  margin: 0 auto;
}
.header__timer {
  padding: 20px 0;
}
.header__timer p {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Oswald', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mk-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none !important;
  cursor: pointer;
  display: block;
  width: 80%;
  margin: 20px auto;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  text-transform: uppercase;
  background-color: #B91B1C;
  font-family: 'Oswald', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flip-clock-divider .flip-clock-label {
  top: 9.5em;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Oswald', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flip-clock-wrapper ul li a div div.inn {
  color: #1d1d1d;
  background-color: #fff;
}

.flip-clock-dot {
  background: #fff;
}

/*block1*/
/* after_qbici */
.b1 {
  background: url(../img/hd.png) no-repeat center top;
  height: 109px;
  padding: 13px 0 0;
}

.b1 h2 {
  color: #fba01f;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 25px;
}

/*block2*/
/* endzeit_____ */
.b2 {
  background: url(../img/b1.jpg) no-repeat center top;
  z-index: 2;
  padding: 1px 0 0;
}

.plus {
  width: 227px;
  margin: 35px 0 23px 20px;
}

.plus li {
  clear: both;
  margin-bottom: 15px;
}

.plus li:before {
  content: '';
  display: block;
  width: 78px;
  height: 78px;
  background: url(../img/1.png) no-repeat 0 0;
  float: left;
}

.plus li:nth-child(2):before {
  background-image: url(../img/2.png);
}

.plus li:nth-child(3):before {
  background-image: url(../img/3.png);
}

.plus p {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  padding: 20px 0 0 11px;
  overflow: hidden;
}

.sale {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #222222;
  width: 110px;
  position: absolute;
  top: 11px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-shadow: 0 1px 0 #ffb624;
}

.sale p {
  font-size: 39px;
}

/*block3*/
/* michael-k90 */
.b3 {
  background: url(../img/Pat_1.png) repeat;
  padding: 33px 0 40px;
  z-index: 0;
}

/*block4*/
/* bizlife_inc */
.b4 {
  background: #eaeaea;
}

.b4 h2 {
  text-align: center;
  color: #222222;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

.b4 h2 span {
  display: block;
  color: #d02a33;
  font-weight: 700;
}

.b4 h2:after {
  content: '';
  display: block;
  width: 400px;
  height: 2px;
  background: #444444;
  margin: 14px auto 0;
}

.b4 h3 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}

.ques1 {
  float: left;
  padding: 5px 0 15px 20px;
}

.ques1, .ques2 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: 50%;
  line-height: 18px;
}

.ques2 {
  float: right;
  text-align: right;
  padding: 5px 20px 15px 0;
}

/*block5*/
/* owmen17 */
.b5 {
  background: url(../img/b3.jpg) no-repeat center 150px #fff;
  padding: 0;
  position: relative;
}
.b5__title {
  padding: 0 !important;
  padding-left: 200px !important;
  padding-right: 20px !important;
  text-align: center !important;
  position: absolute;
  top: 180px;
  right: 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #1d1d1d;
}

.b5 h2 {
  color: #eeaa1c;
  font-size: 36px;
  text-align: center;
  line-height: 28px;
  display: block;
  background: #1e1e1e;
  height: 150px;
  padding-top: 20px;
}

.b5 h2 span {
  font-size: 20px;
  display: block;
}

.b5 p {
  text-align: justify;
  padding: 257px 20px 24px;
}

.b5 p b {
  color: #cb5e1a;
}

/*block6*/
/* after_qbici */
.b6 {
  background: url(../img/Pat_1.png) repeat;
  color: #fff;
  padding-bottom: 10px;
}

.b6 h2 {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.b6 span {
  color: #ffa518;
  font-size: 30px;
  display: block;
  font-weight: 700;
}

.select li {
  clear: both;
  padding: 30px 39px 0 17px;
}

.select h3 {
  color: #ffa518;
  font-size: 16px;
  overflow: hidden;
  margin-bottom: 5px;
}

.select p {
  overflow: hidden;
  padding-bottom: 25px;
}

.select li:before {
  content: '';
  display: block;
  background: url(../img/plus.png) no-repeat center 0px;
  width: 83px;
  height: 88px;
  float: left;
  margin-right: 10px;
}

.select li:nth-child(2):before {
  background-position: center -180px;
}

.select li:nth-child(3):before {
  background-position: center -344px;
}

.select li:nth-child(4):before {
  background-position: center -523px;
}

.select li:nth-child(4):after {
  display: none;
}

.select li:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #1d1d1d;
  background: -webkit-gradient(linear, left top, right top, from(#1d1d1d), color-stop(50%, #4d4d4d), to(#1d1d1d));
  background: linear-gradient(to right, #1d1d1d 0%, #4d4d4d 50%, #1d1d1d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1d1d', endColorstr='#1d1d1d',GradientType=1 );
  margin: 0 auto;
}

/*block7*/
/* endzeit_____ */
.b7 {
  padding: 0;
  position: relative;
}
.b7__title {
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  font-size: 30px;
  padding-right: 160px;
  padding-left: 20px;
  color: #1d1d1d;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.b7__title span {
  font-size: 40px;
}

.b7 img {
  display: block;
}

table {
  background: #eaeaea;
  letter-spacing: .16px;
  line-height: 20px;
}

table tr:nth-child(odd) {
  background: #bdbdbd;
}

table tr td:first-child {
  background: #d6d6d6;
  font-weight: 700;
  width: 200px;
  padding: 10px 0 10px 20px;
}

table tr td:last-child {
  text-align: center;
  padding: 10px 50px;
}

table tr:nth-child(odd) td:first-child {
  background: #a2a2a2;
}

/*block8*/
/* michael-k90 */
.b8 {
  background: url(../img/bg5.jpg) no-repeat center top;
  height: 570px;
}

.b8 .title {
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-bottom: 35px;
}

.b8 span {
  color: #ffa518;
}

.reviews {
  color: #fff;
}

.reviews img {
  display: block;
  margin: 0 auto -86px;
}

.rev {
  background: #1d1d1d;
  width: 440px;
  margin: 0 auto;
  padding-top: 103px;
}

.rev h3 {
  font-size: 16px;
  color: #ffa518;
  text-align: center;
}

.rev p {
  padding: 5px 20px 20px;
  text-align: justify;
}

/*block9*/
/* bizlife_inc */
.b9 {
  padding-bottom: 20px;
}

.b9 h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.b9 span {
  color: #7e131b;
}

.ship {
  padding: 0 20px;
}

.ship li {
  display: block;
  clear: both;
  margin-bottom: 20px;
}

.ship p {
  color: #303030;
  font-size: 18px;
  font-weight: 700;
  padding-top: 16px;
  position: relative;
}

.ship li:before {
  content: '';
  display: block;
  background: url(../img/ship.png) no-repeat center 0px;
  width: 143px;
  height: 95px;
  float: left;
  margin-right: 10px;
}

.ship li:nth-child(2):before {
  background-position: center -114px;
}

.ship li:nth-child(3):before {
  background-position: center -229px;
}

.ship li:nth-child(4):before {
  background-position: center -343px;
}

.ship p:after {
  content: '';
  display: block;
  background: url(../img/ar.png) no-repeat 0 0;
  width: 31px;
  height: 18px;
  position: absolute;
  bottom: -39px;
  right: 165px;
}

.ship li:last-child p:after {
  display: none;
}

/*block10*/
/* owmen17 */
.footer {
  text-align: center;
  padding: 40px 0 30px;
}

.footer a {
  font-size: 14px;
  color: #333;
}

form .title {
  color: #fff;
}

label,
input,
select,
textarea {
  display: block;
  width: 100%;
}

label {
  font-weight: 600;
  color: #fff;
}

input,
select,
textarea {
  background-color: #fff;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */